{% extends "base.html" %}
{% block content %}
<header class="header">
    
    <h1 class="header-title">Watchlist</h1>

</header>

    <div>
        {% for movie in movies | reverse %}
        <div class="container-movie">
            <section class="container-movie1">
                <div class="movie-child1"><a href="/movies/{{ movie.id }}">{{ movie.title }}</a></div>
                <!-- issues with getting director id -->
                <div class="movie-child1">Directed by: <a href="/directors/{{ movie.director.id }}">{{ movie.director.name }}</a></div>
            </section>
            <section class="container-movie2">
                <div id="movie-child3">Year: {{ movie.year }}</div>
                <div id="movie-child4">{{ movie.country }}</div>
                
                {% if movie.rating == 0 %}
                <div id="movie-child4">Not rated</div>
                {% else %}
                <div id="movie-child4">Rating: {{ movie.rating }}</div>
                {% endif %}

                {% if movie.watchlist == True %}
                <div id="movie-child5">
                    <form action="/watchlist/{{ movie.id }}/watch_status" method="POST">
                        <button class="watchlist_button" type="submit"></button>
                    </form>
                </div>
                {% else %}
                <div id="movie-child5">
                    <form action="/watchlist/{{ movie.id }}/watch_status" method="POST">
                        <button class="watchlist_button_" type="submit">Add to Watchlist</button>
                    </form>
                </div>
                {% endif %}

                <div id="movie-child6"><button class="button_"><a href="/movies/{{ movie.id }}">View movie</a></button></div>
                <div id="movie-child7">
                    <form action="/movies/{{ movie.id }}/delete" method="POST" onsubmit="return confirm('Are you sure you wish to delete?');">
                        <input class="watchlist_button_" type="submit" value="Delete movie">
                    </form>
                </div>
            </section>
        </div>
        {% endfor %}
    </div>
{% endblock %}


