body {
    margin: 0%;
    font-family: Helvetica, sans-serif;
}

#nav_container {
    background-color: maroon;
    color: white;
    display: flex;
    flex-direction: row;
}

#nav_bar_header {
    float: left;
    text-align: left;
    margin-left: 50px;
}

.nav_bar_list {
    display: inline;
    list-style: none;
    margin: 10px;
}

nav > ul {
    margin-top: 30px;
    font-size: large;
}

nav > ul > li > a:link {
    color: white;
    text-decoration: none;
} 
nav > ul > li > a:hover {
    color: rgb(222, 165, 165);
    font-weight: 900;
} 
nav > ul > li > a:visited {
    color: rgb(222, 165, 165);
    font-weight: 900;
} 

.header-title {
    margin: 0px;
    height: 60px;    
    padding-top: 10px;
}

.header {
    margin-top: 10px;
    justify-content: center;
    Height: 60px;
    margin-bottom: 20px;
    color: maroon;
    text-align: center;
}

/* Movies */
.container-movie {
    border-color: maroon;
    border-style: solid;
    border-width: 2px;
    color: white;
    background-color: rgb(240, 230, 230);
    margin: auto;
    height: 70px;
    width: 50%;
    border-radius: 5px;
    margin-bottom: 5px;
}

.container-movie1 {
    color: rgb(70, 49, 49);
    display: flex;
    height: 30px;
    margin-top: 0%;
    width: 100%;
}

.container-movie2 {
    color: rgb(70, 49, 49);
    display: flex;
    height: 30px;
    margin-top: 0%;
    width: 100%;
    margin-bottom: 5px;
    justify-content: space-between;
}

.movie-child1 {
    width: 50%;
    height: 30px;
    float: left;
    padding: 8px;
    padding-left: 15px;
    font-size: 18px;
    font-weight: 800;
}

.movie-child1 > a {
    text-decoration: none;
    color: rgb(70, 49, 49);
}
.movie-child1 > a:hover {
    text-decoration: none;
    color: maroon;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
}

#movie-child3 {
    width: 15%;
    height: 30px;
    float: left;
    font-size: 14px;
    padding-top: 12px;
    padding-left: 15px;
}
#movie-child4 {
    width: 15%;
    height: 30px;
    float: left;
    font-size: 14px;
    padding-top: 12px;
}

#movie-child5 {
    width: 15%;
    height: 30px;
    padding-top: 12px;
    font-size: 14px;
    font-family:Verdana, Tahoma, sans-serif;
    font-weight: 700;
    color: rgb(159, 26, 26);
}
#movie-child5_ {
    width: 15%;
    height: 30px;
    float: left;
    padding-top: 12px;
    font-size: 14px;
    font-family:Verdana, Tahoma, sans-serif;
    font-weight: 600;
    color: rgb(157, 123, 123);
    margin-right: 20px;
}

#movie-child6 {
    width: 15%;
    height: 30px;
    float: left;
    font-size: 14px;
    padding-top: 12px;
}

#movie-child7 {
    width: 15%;
    height: 30px;
    float: left;
    font-size: 14px;
    padding-top: 12px;
}


.container-add {
    border-color: maroon;
    border-style: solid;
    border-width: 2px;
    color: white;
    background-color: rgb(240, 230, 230);
    margin: auto;
    height: 250px;
    width: 43%;
    border-radius: 5px;
    margin-bottom: 5px;
}

#form-add {
    margin: 15px 0px 0px 15px;
}

#form-add > input, select{
    padding-left: 8px;
    border-color: maroon;
    border-radius: 5px;
    border-width: 1px;
    height: 30px;
    width: 300px;
    margin: 0px 10px 10px 0px;
}

#form-add > input:focus, select:focus { 
        outline: none;
        border-color: maroon;
        box-shadow: 0 0 10px maroon;
}

#director, title{
    padding-left: 8px;
    border-radius: 5px;
    height: 36px;
    width: 282px;
    margin: 0px 10px 10px 0px;
}

#genre {
    padding-left: 8px;
    border-radius: 5px;
    height: 36px;
    width:230px;
    margin: 0px 10px 10px 0px;

}
#year {
    padding-left: 8px;
    border-radius: 5px;
    height: 36px;
    width: 120px;
    margin: 0px 10px 10px 0px;
}

#country {
    padding-left: 8px;
    border-radius: 5px;
    height: 36px;
    width: 230px;
    margin: 0px 10px 10px 0px;
}


#homepage-div {
    margin: auto;
    height: 20%;
    width: 54%;
    margin: auto;
}

#homepageimage {
    margin-top: 30px;
    height: 100%;
    width: 100%;
    border-color: maroon;
    border-style: solid;
    border-radius: 10px;
    border-width: 2px;
}


/* Director */
.container-director {
    border-color: maroon;
    border-style: solid;
    border-width: 2px;
    color: white;
    background-color: rgb(240, 230, 230);
    margin: auto;
    height: 70px;
    width: 50%;
    border-radius: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.container-director1 {
    color: rgb(70, 49, 49);
    display: flex;
    height: 70px;
    margin-top: 0%;
    padding-left: 17px;
    padding-top: 6px;
    width: 280px;
}

.container-director2 {
    color: rgb(70, 49, 49);
    display: flex;
    float:left;
    height: 70px;
    padding-top: 6px;
    width: 200px;
}

.container-director3 {
    color: rgb(70, 49, 49);
    display: flex;
    float: left;
    height: 70px;
    padding-top: 20px;
    width: 150px;
}

.container-director4 {
    color: rgb(70, 49, 49);
    display: flex;
    float: right;
    padding-right: 15px;
    padding-top: 20px;
    height: 70px;
    justify-content: space-between;
}

.button-director {
    background-color: rgb(240, 215, 215);
    border: none;
    font-family:Verdana, Tahoma, sans-serif;
    border-color: maroon;
    border-style: solid;
    border-radius: 5px;
    color: maroon;
    height: 30px;
    width: 130px;
    margin-top: 0px;
}

.button-director:hover {
    color: maroon;
    font-weight: 800;
    cursor: pointer;

}
.button-director > a {
    color: maroon;
    text-decoration: none;
}
.button-director > a:link {
    color: maroon;
    text-decoration: none;
}
.button-director > a:hover {
    color: maroon;
    text-decoration: none;
    cursor: pointer;
}

.button-director > a:active {
    color: maroon;
    text-decoration: none;
}

.director_button {
    margin-left: 25%;
}

.director_button1 {
    margin-left: 28.4%;
}

.director_button > button {
    background-color: rgb(240, 215, 215);
    border: none;
    font-family:Verdana, Tahoma, sans-serif;
    border-color: maroon;
    border-style: solid;
    border-radius: 5px;
    color: maroon;
    height: 35px;
    width: 165px
}

.director_button1 > button {
    background-color: rgb(235, 201, 201);
    border: none;
    font-family:Verdana, Tahoma, sans-serif;
    border-color: maroon;
    border-style: solid;
    border-radius: 5px;
    color: maroon;
    height: 35px;
    width: 165px
}

.director_button > button > a {
    text-decoration: none;
    color: maroon;
}

.director_button1 > button > a {
    text-decoration: none;
    color: maroon;
}

.director_button > button > a:hover {
    color: maroon;
    font-weight: 800;
    text-decoration: none;
    cursor: pointer;
}

.director_button1 > button > a:hover {
    color: maroon;
    font-weight: 800;
    text-decoration: none;
    cursor: pointer;
}

.watchlist_button, .watchlist_button_ {
    cursor: pointer;
    color: maroon;
    border-radius: 5px;
    border-color: maroon;
    border-style: solid;
    border-width: 1px;

}

.button_ {
    cursor: pointer;
    color: maroon;
    border-radius: 5px;
    border-color: maroon;
    border-style: solid;
    border-width: 1px;
}

.watchlist_button:after {
    content: 'In Watchlist';
}
.watchlist_button:hover:after {
    content: 'Mark as Seen';
}

.watchlist_button_:after {
    content: 'Seen';
}
.watchlist_button_:hover:after {
    content: 'Add to Watchlist';
}

#movie-child5 > button {
    color: maroon;
    border-color: maroon;
}

#movie-child6 > button > a {
    text-decoration: none;
    color: maroon;
    border-color: maroon;

}

#submit_new {
    width: 100px;
}

.error-message {
    padding-left: 50px;
    color: rgb(255, 0, 0);
}



/* Individual movie */
.container-movies-movie {
    border-color: maroon;
    border-style: solid;
    border-width: 2px;
    background-color: rgb(240, 230, 230);
    margin: auto;
    height: 200px;
    width: 50%;
    border-radius: 5px;
    margin-bottom: 5px;
}

.container-movies-movie1 {
    color: rgb(70, 49, 49);
    display: flex;
    height: 30%;
    margin-top: 0%;
    width: 100%;
}

.container-movies-movie2 {
    color: rgb(65, 70, 49);
    display: flex;
    height: 30%;
    margin-top: 0%;
    width: 100%;
    margin-bottom: 5px;
    justify-content: space-between;
}

.container-movies-movie3 {
    color: rgb(70, 49, 49);
    display: flex;
    height: 30%;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 5px;
    justify-content: space-between;
}


.movies-movie-child1 {
    width: 50%;
    height: 100%;
    float: left;
    padding: 8px;
    padding-left: 15px;
    font-size: 18px;
    font-weight: 800;
}

.movies-movie-child2 {
    width: 50%;
    height: 100%;
    float: left;
    font-size: 18px;
    padding-top: 8px;
}

.movies-movie-child3 {
    width: 15%;
    height: 30px;
    float: left;
    font-size: 14px;
    padding-top: 12px;
    padding-left: 15px;
}
.movies-movie-child4 {
    width: 15%;
    height: 30px;
    float: left;
    font-size: 14px;
    padding-top: 12px;
}

.movies-movie-child5 {
    width: 30%;
    height: 30px;
    float: left;
    padding-top: 12px;
    font-size: 14px;
    font-family:Verdana, Tahoma, sans-serif;
    font-weight: 700;
}

.movies-movie-child6 {
    width: 20%;
    height: 30px;
    float: left;
    padding-top: 12px;
    font-size: 14px;
    font-family:Verdana, Tahoma, sans-serif;
    font-weight: 600;
    color: rgb(157, 123, 123);
}

.movies-movie-child7 {
    width: 12%;
    display: flex;
    height: 30px;
    font-size: 14px;
    float: left;
    padding-top: 12px;
    padding-left: 15px;
}

.movies-movie-child8 {
    width: 14%;
    height: 30px;
    float: left;
    font-size: 14px;
    padding-top: 6px;
}

.movies-movie-child9 {
    width: 25%;
    height: 30px;
    float: left;
    font-size: 14px;
    padding-top: 12px;
}

.movies-movie-child10 {
    width: 50%;
    height: 30px;
    text-align: right;
    font-size: 14px;
    padding-top: 12px;
    padding-right: 25px;
}

#rating {
    margin-top: 0px;
    width: 50px;
}

#rating-section {
    float: right;
    margin-bottom: 6px;
}

.movies-movie-child7-container{
    width: 70%;
}


