{% extends "base.html" %}
{% block content %}
    <header class="header">
    
        <h1 class="header-title">Movies</h1>

    </header><br>

        {% for movie in movies | reverse %}
        <div class="container-movie">
            <section class="container-movie1">
                <div class="movie-child1"><a href="/movies/{{ movie.id }}">{{ movie.title }}</a></div>
                <div class="movie-child1">Directed by: <a href="/directors/{{ movie.director.id }}">{{ movie.director.name }}</a></div>
            </section>
            <section class="container-movie2">
                <div id="movie-child3">Year: {{ movie.year }}</div>
                <div id="movie-child4">{{ movie.country }}</div>

                {% if movie.watchlist == True %}
                <div id="movie-child4">To be rated</div>
                {% else %}
                <div id="movie-child4">Rating: {{ movie.rating }}</div>
                {% endif %}

                {% if movie.watchlist == True %}
                <div id="movie-child5">
                    <form action="/movies/{{ movie.id }}/watch_status" method="POST">
                        <input type="submit" value="Watchlist">
                    </form>
                </div>
                {% else %}
                <div id="movie-child5">
                    <form action="/movies/{{ movie.id }}/watch_status" method="POST">
                        <input type="submit" value="Seen">
                    </form>
                </div>

                {% endif %}
                <div id="movie-child6"><a href="/movies/{{ movie.id }}">View</a></div>
                <div id="movie-child7">
                    <form action="/movies/{{ movie.id }}/delete" method="POST" onsubmit="return confirm('Are you sure you wish to delete?')">
                        <input type="submit" value="Delete">
                    </form>
                </div>
            </section>
        </div>
        {% endfor %}
{% endblock %}


