{% extends "base.html" %}
{% block content %}
    <header class="header">
        
        <h1 class="header-title">Movies</h1>

    </header>
    <div class="director_button">
        <button><a href="/movies">Back to all movies</a></button>
    </div><br>

    <div class="container-movies-movie">

        <section class="container-movies-movie1">
            <div class="movies-movie-child1">
                <h3>{{ movie.title }}</h3>
            </div>
            <div class="movies-movie-child2">
                <h4>Director: {{ movie.director.name }}</h4>
            </div>
        </section>

        <section class="container-movies-movie2">
            <div class="movies-movie-child3">
                <h4>Genre: {{ movie.genre }}</h4>
            </div>
            <div class="movies-movie-child4">
                <h4>Year: {{ movie.year }}</h4>
            </div>
            <div class="movies-movie-child5">
                <h4>Country: {{ movie.country }}</h4>   
            </div>
            <div class="movies-movie-child6">
                {% if movie.watchlist == True %}
                <h4>In Watchlist</h4>
                {% else %}
                <h4>Not in Watchlist</h4>
                {% endif %}
            </div>
        </section>
 
        <section class="container-movies-movie3">
            <div class="movies-movie-child7-container">
                
                <form action="/movies/{{ movie.id }}/rating" method="post">
                    <div class="movies-movie-child7">
                        <label for="rating">Rating:</label>
                    </div>
                    <div class="movies-movie-child8">
                        <select id="rating" name="rating">
                            <option selected="true">{{ movie.rating }}</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>

                    <div class="movies-movie-child9">
                        <button type="submit">Update rating</button>
                    </div>
                </form>
            </div>


            <div class="movies-movie-child10">
                <form action="/movies/{{ movie.id }}/edit" method="POST">
                    <button type="submit" value="{{ movie.id }}">Edit movie</button>
                </form>
            </div>
        </section>
    </div>
 
{% endblock %}


