{% extends "base.html" %}
{% block content %}
    <header class="header">
        <h1 class="header-title">Directors</h1>
    </header>

        {% for director in directors | reverse %}
        <div class="container-movie">
            <section class="container-movie1">
                <h3>{{ director.name}}</h3>
                <h3>{{ director.nationality }}</h3>
            </section>
            <section class="container-movie2">
                <a href="/directors/{{ director.id }}">View</a>
                <form action="/directors/{{ director.id }}/delete" method="POST" onsubmit="return confirm('This will delete director entry and all their movies. Are you sure you wish to delete?')">
                    <input type="submit" value="Delete">
                </form>
            </section>
        </div>
        {% endfor %}

{% endblock %}


