{% extends "base.html" %}
{% block content %}
    <header class="header">
        <h1 class="header-title">Directors</h1>
    </header>
    <div class="director_button">
        <button><a href="/directors/add">Add new director</a></button>
    </div><br>
        {% for director in directors | reverse %}
        <div class="container-director">
            <section class="container-director1">
                <h3>{{ director.name}}</h3>
            </section>
            <section class="container-director2">
                <h3>{{ director.nationality }}</h3>
            </section>
            <section class="container-director3">
                <button class="button-director"><a href="/directors/{{ director.id }}">View director</a></button>
            </section>
            <section class="container-director4">
                <form action="/directors/{{ director.id }}/delete" method="POST" onsubmit="return confirm('This will delete director entry and all their movies. Are you sure you wish to delete?')">
                    <button class="button-director" type="submit">Delete director</button>
                </form>
            </section>
        </div>
        {% endfor %}

{% endblock %}


