<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Movies</title>
</head>
<body>
    <header>
        <div id="nav_container">
            <h1 id="nav_bar_header">Watchlist</h1>
            <nav>
                <ul>
                    <li class="nav_bar_list"><a href="/">Home</a></li>
                    <li class="nav_bar_list"><a href="/directors">Directors</a></li>
                    <li class="nav_bar_list"><a href="/movies">Movies</a></li>
                    <li class="nav_bar_list"><a href="/watchlist">Watchlist</a></li>
                    <li class="nav_bar_list"><a href="/directors/add">Add New</a></li>
                    <li class="nav_bar_list"><a href="https://www.imdb.com/find" target="_blank">Search IMDB</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>